torch==1.6.0
torchtext==0.7.0
sacrebleu==1.4.14
sacremoses==0.0.43
spacy==2.3.2
PyYAML==5.3.1
tqdm==4.50.0
Unidecode==1.1.1
tokenizers==0.8.1rc2
transformers==3.3.1

textblob==0.15.3
nltk==3.5
scikit-learn==0.23.2
numpy==1.19.2
scipy==1.5.2

joblib==0.16.0
regex==2020.9.27
sentencepiece==0.1.91

blis==0.4.1
catalogue==1.0.0
cymem==2.0.3
murmurhash==1.0.2
plac==1.1.3
preshed==3.0.2
srsly==1.0.2
thinc==7.4.1
wasabi==0.8.0
packaging==20.4
pyparsing==2.4.7
threadpoolctl==2.1.0
Click==7.0
requests==2.22.0
filelock==3.0.12
setuptools==50.3.0
six==1.14.0
portalocker==2.0.0
future==0.18.2